<<<<<<< HEAD
body {
    height: 2000px;
}

#box1 {
    position: absolute;
    left: 0vw;
    width: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}
    

#inside1 {
    position: relative;
    left: 0vw;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

#box2 {
    position: absolute;
    right: 0vw;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}

#inside2 {
    position: relative;
    right: 0vw;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

#box3 {
    position: fixed;
    right: 37%;
    top: 57%;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}

#inside3 {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

p {
    padding: 70px 0;
    margin: auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
=======
body {
    height: 2000px;
}

#box1 {
    position: absolute;
    left: 0vw;
    width: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}
    

#inside1 {
    position: relative;
    left: 0vw;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

#box2 {
    position: absolute;
    right: 0vw;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}

#inside2 {
    position: relative;
    right: 0vw;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

#box3 {
    position: fixed;
    right: 37%;
    top: 57%;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 0px;
}

#inside3 {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}

p {
    padding: 70px 0;
    margin: auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
>>>>>>> 5b8eb56e30e97a9eca79f609e3bf20f77548b7b3
}